$HeadlineColor: DarkCyan;
$ContainerWall: Silver;
$BodyWall: LightSeaGreen;


.moviesearch {
	font-family: "Bangers", cursive;
	color: $HeadlineColor;
	text-align: center;
	font-size: 4em;
}


.main-container {
	background-color: $ContainerWall;
}

.watchlistSearch {
	padding-bottom: 20px;
	
}

.movieSearch {
	padding-bottom:  10px;
}

.searchButton {
	padding-top: 10px;
}

.movieCard {
	padding: 10px;
}