.moviesearch {
  font-family: "Bangers", cursive;
  color: DarkCyan;
  text-align: center;
  font-size: 4em; }

.main-container {
  background-color: Silver; }

.watchlistSearch {
  padding-bottom: 20px; }
